body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
.orange-text{
    color: orange;
}
.flex{
    display: flex;
    margin-bottom: 80px;
}
h1{
    font-size: 60px;
    color: rgb(26, 36, 122);
}
.equalize{
    margin-top: 70px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
p{
    color: black;
    font-weight: 300;
    margin-bottom: 50px;
}
.about-description{
    margin-top: 100px;
    margin-right: 200px;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 13px 30px;
    border-radius: 25px;
}
.banner{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 5%;
    height: 468px;
}
#resize{
    width: 60%;
}
h2{
    font-weight: 900;
    font-size: 35px;
    color: gray;
}
.title{
    color: black;
}
#recipies{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
.one-third-width{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 15px;
    padding: 10px;
}
.one-third-width img{
    width: 100%;
}
.live-count{
    box-shadow: 10px 10px 30px gray;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    text-align: center;
}
.count-element{
    margin-left: 17%;
}
.count-element-p{
    margin-top: -40px;
    margin-left: 15px;
}
footer{
    background-color: rgb(2, 1, 37);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}